SELECT p.\
partNo\, prs.quantity, s.name as store, r.\codeNo\ as rack, sh.\shelfNo\ as shelf FROM \PartRackShelf\ prs JOIN \Part\ p ON prs.\partId\ = p.id LEFT JOIN \Store\ s ON prs.\storeId\ = s.id LEFT JOIN \Rack\ r ON prs.\rackId\ = r.id LEFT JOIN \Shelf\ sh ON prs.\shelfId\ = sh.id LIMIT 10;
